DATABASE_URL=postgresql://user:password@localhost:5432/your-database-name
PAYLOAD_SECRET=your-secret-key-min-32-characters-long
CONTACT_EMAIL=your-email@example.com
NEXT_PUBLIC_SITE_URL=https://your-domain.com

# Payload Admin Login
USERNAME/EMAIL=admin@ex.com
PASSWORD=toor
